<div class="container fluid">
  <!-- <h1>Tanárok</h1>

  {{ obj | json }}
  <div class="row" *ngFor="let tancsi of obj">
    {{ tancsi.name }}
    {{ tancsi["name"] }}
  </div> -->

  <div class="row">
    <div class="col" *ngFor="let oszlop of oszlopok">
      {{ oszlop.texthu }}
    </div>
    <div class="col">Műveletek</div>
  </div>

  <div class="row my-2" *ngFor="let tancsi of obj; index as i">
    <div class="col" *ngFor="let oszlop of oszlopok">
      {{ tancsi[oszlop.key] }}
    </div>
    <div class="col">
      <button type="button" class="btn btn-success">Ment</button>
      <button (click)="torol(tancsi, i)" type="button" class="btn btn-danger">
        Töröl
      </button>
    </div>
  </div>
</div>
